<launch>
  <param name="rplidarNode/frame_id" value="plate_top_link" />  
  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" />

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="plate_to_gyro_broadcaster" args="0 0 0 0 0 0 plate_top_link gyro_link 100" />

  <include file="$(find cartographer_turtlebot)/launch/turtlebot_rplidar.launch" />
</launch>
