<launch>
  <node name="crsm_slam_node" type="crsm_slam_node" pkg="crsm_slam" respawn="false" ns="crsm_slam" output="screen"/>
  <rosparam file="$(find r4a_launchers)/config/crsm_slam_parameters.yaml" command="load" ns="crsm_slam"/>	
  <node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0 0 0 0 0 0 base_link laser 100" />
</launch>
