<launch>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
    <!-- <remap from="scan" to="youbot/scan_front" /> -->
    <!-- <remap from="base_link" to="youbot/base_link" /> -->
    <!-- <remap from="odom" to="youbot/odom" /> -->
    <param name="map_update_interval" value="1.0" />
  </node>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0 0 0 0 0 0 base_link laser 100" />
</launch>
